* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.header {
    padding-top: 63px;
}

.menu {
    float: right;
}


.padding-site {
    padding-left: 98px;
    padding-right: 98px;
}
.conteiner {
    width: 1366px;
    margin: 0 auto;
}

.slider {
    height: 800px;
    background-image: url(img/slider-img.jpg);
    position: relative;
}

.menu-list {
    list-style-type: none;
    float: left;
}

.menu-link {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 13px;
}

.menu-link:hover {
    color: #212121;
}

.slider-text {
    margin-top: 283px;
}

.menu-link-active {
    color: #212121;
    font-weight: 700;
    letter-spacing: 1.4px;
    border-bottom: 3px solid #212121;
    text-decoration: none;
}

.slider-trending {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
}

.slider-h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 400;
    line-height: 72px;
    text-transform: uppercase;
}

.slider-content {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    width: 458px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 24px;
}

.button {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    width: 212px;
    height: 45px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    text-align: center;
    line-height: 45px;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 3.6px;
}

.circle {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color:#c7c7c7;
    border-radius: 50%;
    margin: 5px;
}

.circle:hover {
    background-color: #212121;
}

.circle-active {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #212121;
    display: inline-block;
    margin-bottom: 0;
}

.pagination {
    position: absolute;
    bottom: 19px;
    text-align: center;
    width: 1170px;
}

.offers1 {
    height: 610px;
}

.padding-offers1 {
    padding-left: 98px;
    padding-right: 98px;
}

.offer1-top {
    padding-top: 120px;
}

.offers1-list {
    list-style-type: none;
}

.offers1-link-bold {
    text-decoration: none;
    color: #212121;
    font-size: 36px;
    border-bottom: 3px solid #212121;
    display: block;
    float: left;
    font-weight: 700;
}


.offers1-link {
    text-decoration: none;
    color: #6c6c6c;
    font-size: 36px;
    display: block;
    font-weight: 700;
    float: left;
    margin-left: 31px;
    border-bottom: 1px solid #6c6c6c;
}

.all_goods {
    float: right;
}

.all_goods-link {
    text-decoration: none;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
}


.photo_goods1 {
    padding-top: 50px;
}

.photo_goods1_combo {
    float: left;
    position: relative;
}

.blur {
    position: absolute;
    margin-left: -270px;
    border: 1px solid #9c9c9c;
    background-color: #ffffff;
    opacity: 0.9;
}

.combo_h3 {
    position: absolute;
    margin-top: -141px;
    margin-left: 63px;
    width: 148px;
    height: 17px;
    color: #212121;
    font-size: 21px;
    font-weight: 700;
    line-height: 29.88px;
}

.combo_h4 {
    position: absolute;
    margin-top: -101px;
    margin-left: 32px;
    width: 206px;
    height: 33px;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 21.91px;
    text-align: center;
}


.photo_goods1_2 {
    float: left;
    margin-left: 30px;
}

.photo_goods1_3 {
    float: left;
    margin-left: 30px;
}

.photo_goods1_4 {
    float: left;
    margin-left: 30px;
}


